src/version/version.h
release/releases/
release/plugins/
obj/
bin/
Makefile
/qt-linux/*.h
/qt-linux/*.cpp
/qt-linux/*.o
build/
build32/
build64/

# we don't commit pre-compiled linux libraries since it's way easier to compile
# ffmpeg on linux compared to windows
ffmpeg/lib_lin*/
